<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Home page</h1>
        <img src="/photos/software-developer-1946892-1651592.webp" alt="this is SDE Photo" srcset="">
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos voluptate tempore totam odit! Minima iste atque, corporis voluptatum voluptatem veritatis quia, magni deserunt enim sunt eum vero! Laborum, magni consequatur?</p>
</body>
</html>