<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
      <style>
        .div1{
            text-align: center;
        }
         h1{
            text-align: center;
         }
      </style>
</head>

<body>
    <h1>Signup Page</h1>
    <form action="/user/sign" method="post">
        <div class="div1">
            <label for="">Enter your name</label>
            <input type="text"  name="name"> <br><br>
            <div class="div1">     
            <label for="">Enter your gmail</label>
            <input type="text" name="email"> </div><br>
            <div class="div1">     
            <label for="">Enter your password</label>
            <input type="password" name="password"></div><br>
            <div class="div1">     
            <input type="submit">
            </div>
    </form>
</body>

</html>